/*
BEM = Bloque Elemento Modificador

Se usa siempre CLASS no ID.

Class = aplicar estilos
Id = aplicar funcionalidad (javascript)

.bloque
.bloque__elemento
.bloque__elemento--modificador

1. No usar IDs
2. No usar etiquetas
3. Que todo sea un key selector (seleccionar justo elemento al cual se le darán estilos)

*/

.cards {
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 10px;
}

.cards__card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightskyblue;
}

.card__title {
    font-size: 24px;
    font-weight: bold;
}

.card__link {
    padding: 10px;
    background: green;
    color: white;
    text-decoration: none;
}

.card__link--red {
    background-color: red;
}